* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-lightest: #fff4e6;
  --color-light: #ffe8cc;
  --color-medium: #ffa94d;
  --color-dark: #ff922b;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, "Segoe UI", Tahoma, Geneva, Roboto, Oxygen,
    Ubuntu, Cantarell, sans-serif;
}

body {
  height: 100vh;
  color: #495057;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  min-height: 66vh;
  display: grid;
  grid-template-columns: 34rem 44rem;
  column-gap: 4rem;
  align-items: start;
}
